node_modules
.weechat/logs
*.shada
*.log
*.swp
*.weechatlog
.local/bin/
.local/lib/
.config/direnv/allow/*
.local/share/nvim/swap/*
.local/share/nvim/log
.local/share/nvim/shada/main.shada
.local/share/ranger/history
.config/coc/*.json
.local/share/nvim/shada/main.shada
.local/share/ranger/history
.tmux/resurrect
